body {
    font-size: 12pt;
}
button {
  padding: 6px 0;
  width: 15%;
  font-size: 20px;
  color: white;
  background-color: #00cc00;
  border: none;
  border-radius: 10px;}body {
    font-size: 15pt;
}